<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">    
    <form action="#" th:action="@{addOffer}" th:object="${offer}" method="post">
        <table>
            <tr>
                <td>Description:</td>
                <td><input type="text" th:field="*{description}" /></td>
                <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description error message</td>
            </tr>
            <tr>
                <td>Category:</td>
                <td><input type="text" th:field="*{category}" /></td>
                <td th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Category error message</td>
            </tr>
            <tr>
                <td><button type="submit">Submit offer</button></td>
            </tr>
        </table>
    </form>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>
</body>
</html>