<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <table>
        <tr>
            <th>Id </th>
            <th>Description </th>
            <th>Category </th>
        </tr>
        <tr th:each="offer : ${offers}">
            <td th:text="${offer.id}"></td>
            <td th:text="${offer.description}"></td>
            <td th:text="${offer.category}"></td>
        </tr>
    </table>
</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>